body{
    margin: 0;
    padding: 0;
    background-color:#FFD9E6;
}
header{
    width: 100%;
    background-color:#BEF085;
    padding-bottom: 50px;

}
img{
    float: left;
  
}
li{
    display: inline;
    position: relative;
    top: 20px;
    left: 10px;
    padding: 50px;
}
h1{
    color: #D7286C;
}
h2{
    color: #D7286C;
}
h3{
    color: #D7286C;
}
.engagement{
    border: #BEF085 groove;
    margin-left: 800px;
    margin-right: 300px;
    font-weight: bold;
    text-align: center;
}
.prod{
    width: 100px;
    height: auto;
    
}


h4{
    color: #D7286C;

}
.cat{
width: 100px;
height: auto;
}

.copyright{
    text-align: center;
}
